<div style="display: flex; align-items: center; gap: 20px; flex-wrap: wrap;">
  <!-- 왼쪽 이미지 -->
    <img src="/images/portfolio/logo2300.png" alt="logo2300.png" style="width: 200px; border-radius: 4px;">
  <!-- 오른쪽 설명 -->
  <div style="font-size: 14px; line-height: 1.6;">
    <p><strong>개발:</strong> Unity</p>
    <p><strong>분류:</strong> 퍼즐 게임</p>
    <p><strong>제작 기간:</strong> 24.01 ~ 25.12 (예정)</p>
    <p><strong>참여 분야:</strong> 배경 및 오브젝트, UI, 애니메이션</p>
  </div>
</div>

![2title.png](/images/portfolio/2title.png)

![map4.png](/images/portfolio/map4.png)

![stagever6.png](/images/portfolio/stagever6.png)

![grass-Sheet.png](/images/portfolio/grass-Sheet.png)

![fence2-export.png](/images/portfolio/fence2-export.png)

![tree22-Sheet-export.png](/images/portfolio/tree22-Sheet-export.png)

![1.png](/images/portfolio/1.png)

![sandver3-Sheet.png](/images/portfolio/sandver3-Sheet.png)

![sandver2-Sheet.png](/images/portfolio/sandver2-Sheet.png)

![sandver2-Sheet.png](/images/portfolio/sandver2-Sheet%201.png)

![tree.png](/images/portfolio/tree.png)

![icever5.png](/images/portfolio/icever5.png)

![icetile-Sheet.png](/images/portfolio/icetile-Sheet.png)

![icever4-Sheet.png](/images/portfolio/icever4-Sheet.png)

![iceverobject.png](/images/portfolio/iceverobject.png)

![spacever3.png](/images/portfolio/spacever3.png)

[https://www.youtube.com/watch?v=_mvamoAmwVE](https://www.youtube.com/watch?v=_mvamoAmwVE)
