<div style="display: flex; align-items: center; gap: 20px; flex-wrap: wrap;">
  <!-- 왼쪽 이미지 -->
    <img src="/images/portfolio/logo2300.png" alt="logo2300.png" style="width: 200px; border-radius: 4px;">
  <!-- 오른쪽 설명 -->
  <div style="font-size: 14px; line-height: 1.6;">
    <p><strong>개발:</strong> Unity</p>
    <p><strong>분류:</strong> 퍼즐 게임</p>
    <p><strong>제작 기간:</strong> 24.01 ~ 25.12 (예정)</p>
    <p><strong>참여 분야:</strong> 배경 및 오브젝트, UI, 애니메이션</p>
  </div>
</div>


<div style="text-align: center; margin-top: 20px;">
  <img src="/images/portfolio/2title.png" alt="2title.png" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio/map4.png" alt="map4.png" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio/stagever6.png" alt="stagever6.png" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
</div>


<!-- 이미지 3개 -->
<div style="text-align: center;">
  <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 20px; margin-top: 20px; margin: 0 auto; max-width: 1200px;">
    <img src="/images/portfolio/grass-Sheet.png" alt="grass-Sheet.png" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
    <img src="/images/portfolio/fence2-export.png" alt="fence2-export.png" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
    <img src="/images/portfolio/tree22-Sheet-export.png" alt="tree22-Sheet-export.png" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
  <br>
  </div>
</div>


<div style="text-align: center; margin-top: 20px;">
  <img src="/images/portfolio/1.png" alt="1.png" style="max-width: 100%; height: auto;"><br> 
</div>


<!-- 이미지 3개 -->
<div style="text-align: center;">
  <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 20px; margin-top: 20px; margin: 0 auto; max-width: 1200px;">
  <img src="/images/portfolio/sandver3-Sheet.png" alt="sandver3-Sheet.png" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
  <img src="/images/portfolio/sandver2-Sheet.png" alt="sandver2-Sheet.png" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
  <img src="/images/portfolio/tree.png" alt="tree.png" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
  </div>
</div>


<div style="text-align: center; margin-top: 20px;">
  <img src="/images/portfolio/icever5.png" alt="icever5.png" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
</div>


<!-- 이미지 3개 -->
<div style="text-align: center;">
  <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 20px; margin-top: 20px; margin: 0 auto; max-width: 1200px;">
  <img src="/images/portfolio/icetile-Sheet.png" alt="icetile-Sheet.png" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
  <img src="/images/portfolio/icever4-Sheet.png" alt="icever4-Sheet.png" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
  <img src="/images/portfolio/iceverobject.png" alt="iceverobject.png" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
  </div>
</div>


<div style="text-align: center; margin-top: 20px;">
  <img src="/images/portfolio/spacever3.png" alt="spacever3.png" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
</div>

<iframe width="560" height="315"
  src="https://www.youtube.com/embed/_mvamoAmwVE"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen>
</iframe>
