
<div style="display: flex; align-items: center; gap: 20px; flex-wrap: wrap;">
  <!-- 왼쪽 이미지 -->
    <img src="/images/portfolio/4109015e-63ba-4a6d-9fa1-f54743cf8128.png" alt="달의 기억" style="width: 200px; border-radius: 4px;">
  <!-- 오른쪽 설명 -->
  <div style="font-size: 14px; line-height: 1.6;">
    <p><strong>개발:</strong> Unity</p>
    <p><strong>분류:</strong> 공포 탐색형 게임</p>
    <p><strong>제작 기간:</strong> 24.05 ~ 25.09 (예정)</p>
    <p><strong>참여 분야:</strong> 맵 배경 및 기타 오브젝트, 아이콘, 애니메이션 참여</p>
  </div>
</div>

<!-- Artstation 링크 -->
<div style="text-align: center; font-size:14px; margin-top: 10px;">
  <a href="https://www.artstation.com/artwork/XJJoa3" target="_blank">
    추가 이미지는 이 링크에서 확인 가능합니다
  </a>
</div>


<div style="text-align: center; margin-top: 20px;">
  <img src="/images/portfolio/Sprite-0001.gif" alt="Sprite" style="max-width: 100%; height: auto; margin-bottom: 10px;">
  <img src="/images/portfolio/%EC%88%B23.png" alt="숲3.png" style="max-width: 100%; height: auto; margin-bottom: 10px;">
</div>

<!-- 이미지 2개 -->
<div style="text-align: center;">
  <div style="display: flex; justify-content: center; align-items: center; gap: 20px; flex-wrap: wrap; margin: 0 auto; max-width: 1000px;">
    <img src="/images/portfolio/%EC%8B%A0%EC%82%AC2.png" alt="신사2.png" style="flex: 1; max-width: 48%; min-width: 300px; width: 100%; height: auto; display: block; cursor: zoom-in;">
    <img src="/images/portfolio/%EB%B6%88%ED%83%80%EB%8A%94-%ED%8F%90%EC%8B%A0%EC%82%AC.gif" alt="불타는-폐신사.gif" style="flex: 1; max-width: 48%; min-width: 300px; width: 100%; height: auto; display: block; cursor: zoom-in;">
  </div>
</div>


  <div style="text-align: center; margin-top: 20px;">
    <img src="/images/portfolio/%EC%A0%80%ED%83%9D%EC%99%B8%EB%B6%804.png" alt="저택외부4.png" style="max-width: 100%; height: auto;"><br> 
  </div>


  <!-- 이미지 2개 -->
<div style="text-align: center;">
  <div style="display: flex; justify-content: center; align-items: center; gap: 20px; flex-wrap: wrap; margin: 0 auto; max-width: 1000px;">
    <img src="/images/portfolio/1f-%EB%8A%98%EB%A6%BC2.png" alt="1f-늘림2.png" style="flex: 1; max-width: 48%; min-width: 300px; width: 100%; height: auto; display: block; cursor: zoom-in;">
    <img src="/images/portfolio/2f-%EB%8A%98%EB%A6%BC.png" alt="2f-늘림.pn" style="flex: 1; max-width: 48%; min-width: 300px; width: 100%; height: auto; display: block; cursor: zoom-in;">
  </div>
</div>

  <div style="text-align: center; margin-top: 20px;">
  <img src="/images/portfolio/%EA%B5%90%EC%8B%A4%EC%88%98%EC%A0%95.png" alt="교실수정.png" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio/%EC%9C%A0%EC%9A%B0%EC%A7%80_%EC%A7%91ver1.png" alt="유우지 집ver1.png" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
</div>

<iframe width="560" height="315"
  src="https://www.youtube.com/embed/VRJcguli5YE"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen>
</iframe>

