<div style="text-align: center; margin-top: 20px;">
  <img src="/images/portfolio/trickal2.png" alt="trickal2.png" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio/slime3_300.gif" alt="slime3_300.gif" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio//images/portfolio/monster3_300.gif" alt="monster3_300.gif" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio/cobra2_300.gif" alt="cobra2_300.gif" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio/lizard2_300.gif" alt="lizard2_300.gif" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio/skeleton2_300.gif" alt="skeleton2_300.gif" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio/icegolam2.gif" alt="icegolam2.gif" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio/charcter1_3.gif" alt="charcter1_3.gif" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
  <img src="/images/portfolio/charcter2_4.gif" alt="charcter2_4.gif" style="max-width: 100%; height: auto; margin-bottom: 10px;"><br>
</div>

<!-- 이미지 3개 -->
<div style="text-align: center;">
  <div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; gap: 20px; margin-top: 20px; margin: 0 auto; max-width: 1200px;">
    <img src="/images/portfolio/character_idle.gif" alt="character_idle.gif" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
    <img src="/images/portfolio/character_skill.gif" alt="character_skill.gif" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
    <img src="/images/portfolio/character_skill2.gif" alt="character_skill2.gif" style="flex: 1; max-width: 30%; min-width: 200px; width: 100%; height: auto; display: block; cursor: zoom-in;">
  <br>
  </div>
</div>


![쿠키런300.gif](/images/portfolio/%EC%BF%A0%ED%82%A4%EB%9F%B0300.gif)

![명일방주300.png](/images/portfolio/%EB%AA%85%EC%9D%BC%EB%B0%A9%EC%A3%BC300.png)

![진격거.png](/images/portfolio/%EC%A7%84%EA%B2%A9%EA%B1%B0.png)

![미야비3.png](/images/portfolio/%EB%AF%B8%EC%95%BC%EB%B9%843.png)

![엘렌조19.png](/images/portfolio/%EC%97%98%EB%A0%8C%EC%A1%B019.png)

![버니스 화이트10.png](/images/portfolio/%EB%B2%84%EB%8B%88%EC%8A%A4_%ED%99%94%EC%9D%B4%ED%8A%B810.png)
