## Object

![animal.png](/images/portfolio/animal.png)

![steel300.png](/images/portfolio/steel300.png)

![item2.png](/images/portfolio/item2.png)

![necklace.png](/images/portfolio/necklace.png)

![ring.png](/images/portfolio/ring.png)

![item.png](/images/portfolio/item.png)

![무기2300.png](/images/portfolio/%EB%AC%B4%EA%B8%B02300.png)

![스킬2.png](/images/portfolio/%EC%8A%A4%ED%82%AC2.png)

![bookver3.gif](/images/portfolio/bookver3.gif)

![손.gif](/images/portfolio/%EC%86%90.gif)

![지브리300.png](/images/portfolio/%EC%A7%80%EB%B8%8C%EB%A6%AC300.png)

![보석400-export.png](/images/portfolio/%EB%B3%B4%EC%84%9D400-export.png)

![초밥400.png](/images/portfolio/%EC%B4%88%EB%B0%A5400.png)

![vegiver3.png](/images/portfolio/vegiver3.png)

![springfruitver3.png](/images/portfolio/springfruitver3.png)
